<div class="bike">
  <div>
    <span>
      <strong><%= link_to bike.name, 
        bike_path(bike) %></strong> --
      <span><%= bike.year %> <%= bike.make %> <%= bike.model%></span>
    </span>
  </div>
  <div class="bike__actions">
    <%= link_to "View",
      bike_path(bike),
      class: "btn btn--light" %>
    <%= link_to "Edit",
      edit_bike_path(bike),
      class: "btn btn--light" %>
  </div>
</div>
