<div class="bike__attribute">
  <h2>
    <span><%= bike.user.username %>'s</span> <span><%= bike.name %></span>
  </h2>
  <p>
    <strong>Model</strong>: <span><%= bike.model %></span>
  </p>
  <p>
    <strong>Make</strong>: <span><%= bike.make %></span>
  </p>
  <p>
    <strong>Model</strong>: <span><%= bike.model %></span>
  </p>
  <p>
    <strong>Year</strong>: <span><%= bike.year %></span>
  </p>
  <p>
    <strong>Description</strong>: <span><%= bike.description %></span>
  </p>
  <p>
    <strong>Serial no</strong>: <span><%= bike.serial_number %></span>
  </p>
</div>
