<main class="container">
  <%= link_to sanitize("&larr; Back to bikes"), bikes_path %>
  <div class="header">
    <h1>
      <%= @bike.name %>
    </h1>
    <div class="bike__actions">
      <%= button_to "Delete",
        bike_path(@bike),
        method: :delete,
        data: { turbo_confirm: "Are you sure?" },
        class: "btn btn--light" %>
      <%= link_to "Edit",
        edit_bike_path(@bike),
        class: "btn btn--light" %>
    </div>
  </div>
  <div class="body">
    <%= render "bikes/bike_attribute", bike: @bike %>
  </div>
</main>
