<%= simple_form_for purchase_transaction, html: { class: "form", id: "purchase-transaction-form" } do |f| %>
  <% if purchase_transaction.errors.any? %>
    <div class="error-message">
      <%= purchase_transaction.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :amount, input_html: { autofocus: true , placeholder: "0.00"} %>
  <%= f.input :vendor_id,
    collection: vendors,
    selected: purchase_transaction.vendor_id.present? ?
    purchase_transaction.vendor_id : nil %>
  <%= f.input :date, html5: true %>
  <%= f.input :description, input_html: { placeholder: "A short description about the purchase transaction"} %>
  <%= f.input :source_id, input_html: { placeholder: "Unique purchase transaction identifier"} %>
<% end %>
