<!DOCTYPE html>
<html>
  <head>
    <title>Veloholic</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <% flash.each do |key, value| %>
      <div class="w-100 flex justify-center">
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      </div>
    <% end %>
    <div class="flex justify-center">
      <div class="w-4/5 max-w-4xl flex">
        <% if user_signed_in? %>
            <%= render "layouts/sidebar" %>
          <% end %>
        <div class="application__container flex-col">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
